rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /subscribers/{subscriber} {
      allow create: if true;
      allow read, update, delete: if request.auth != null;
    }

    match /{document=**} {
      allow read: if true;
      allow write: if request.auth != null && (
        request.auth.token.email == 'nava@nava-fundacion.org' ||
        request.auth.token.email == 'tenebrsx@gmail.com' ||
        request.auth.token.email == 'danicontalba@gmail.com'
      );
    }
  }
}
